* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 15px;
}

window#waybar {
    all:unset;
}
.modules-left {
    padding:7px;
    margin:3 0 3 3;
    border-radius:10px;
    background: alpha(@background,.6);
    background-color: #cccc33;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:7px;
    margin:3 0 3 0;
    border-radius:10px;
    background: alpha(@background,.6);
    background-color: #cccc33;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:7px;
    margin: 3 3 3 0;
    border-radius:10px;
    background: alpha(@background,.6);
    background-color: #cccc33;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    transition: all .2s ease;
}
#workspaces button:hover {
	color: #424153;
    border: none;
    transition: all .5s ease-in;
}
#workspaces button.active {
    color: #ffffff;
    border: none;
}
#workspaces button.empty {
	color: #424153;
    border: none;
}
#workspaces button.empty:hover {
    color: #ffffff;
    border: none;
    transition: all .5s ease-in;
}
#workspaces button.empty.active {
    color: #ffffff;
    border: none;
}

#mode {
    color: #ffffff
}

#mpd {
	color: #ffffff;
}

#clock {
	color: #424153;
    padding: 0px 5px;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #cccc33;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#power-profiles-daemon {
    padding: 0px 5px;
}

#power-profiles-daemon.performance {
	background-color: #3380cc;
	color: #ffffff;
}

#power-profiles-daemon.balanced {
	background-color: #2980b9;
	color: #ffffff;
}

#power-profiles-daemon.power-saver {
	background-color: #2ecc71;
	color: #000000;
}

label:focus {
	background-color: #000000;
}

#cpu {
	background-color: #cccc33;
	color: #424153;
    padding: 0px 5px;
}

#memory {
	background-color: #cccc33;
	color: #424153;
    padding: 0px 5px;
}

#disk {
	background-color: #964B00;
    padding: 0px 5px;
}

#backlight {
    padding: 0px 5px;
	color: #424153;
}

#network {
	background-color: #cccc33;
	color: #424153;
    padding: 0px 5px;
}

#network.disconnected {
	background-color: #f53c3c;
}

#pulseaudio {
	background-color: #cccc33;
	color: #424153;
    padding: 0px 5px;
}

#pulseaudio.muted {
	background-color: #999999;
	color: #000000;
}

#wireplumber {
	background-color: #fff0f5;
	color: #000000;
}

#wireplumber.muted {
	background-color: #f53c3c;
}

#custom-power {
	color: #424153;
}

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#temperature {
	background-color: #cccc33;
	color: #424153;
}

#temperature.critical {
	background-color: #b22222;
}

#tray {
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#battery {
	color: #424153;
	padding: 0 5px;
    transition: all .3s ease;
}

#language {
	color: #424153;
	padding: 0 5px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state {
	color: #424153;
	padding: 0 5px;
}

#keyboard-state>label {
	padding: 0 5px;
}

#keyboard-state>label.locked {
	background: rgba(0, 0, 0, 0.2);
}
